@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles/globals.css */
@keyframes flash {
    0% {
        color: #ff0000;
    }

    50% {
        color: white;
    }

    100% {
        color: #ff0000;
    }
}

.flash {
    animation: flash 1s infinite;
}



*{
    
    scrollbar-width: none;
    -ms-overflow-style: none,
}